<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>Badger</string>
		<key>text</key>
		<string>The European badger (Meles meles) is a species of badger in the family Mustelidae and is native to almost all of Europe and some parts of the Middle East. Several subspecies are recognised; the nominate subspecies (Meles meles meles) predominates over most of Europe. The European badger is classified as being of Least Concern by the IUCN as it has a wide range and a large population size which is stable, and even increasing in some areas.

The European badger is a powerfully built black, white and grey animal with a small head, a stocky body and short tail. Its weight varies, being 7–13 kg (15–29 lb) in spring but building up to 15–17 kg (33–37 lb) in autumn before the winter sleep period. It is nocturnal and is a social, burrowing animal that sleeps during the day in one of several setts in its territorial range. These burrows, which may house several badger families, have extensive systems of underground passages and chambers and have multiple entrances. Some setts have been in use for decades. Badgers are very fussy over the cleanliness of their burrow, carrying in fresh bedding and removing soiled material, and they defecate in latrines strategically situated around their territory.

Though classified as a carnivore, the European badger feeds on a wide variety of plant and animal foods. The diet consists mainly of earthworms, large insects, small mammals, carrion, cereals and root tubers. Litters of up to five cubs are produced in spring. The young are weaned a few months later but usually remain within the family group. The European badger is generally a peaceful animal, having been known to share its burrow with other species such as rabbits, red foxes and raccoon dogs, but it can be ferocious when provoked, a trait which has been exploited in the now illegal blood sport of badger-baiting.The spread of bovine tuberculosis has been attributed to badgers, however recent peer reviewed reports state that the issue is more to do with cattle management.</string>
		<key>authorName</key>
		<string>Oliver Foggin</string>
		<key>authorPhoto</key>
		<string>Oliver</string>
		<key>name</key>
		<string>European Badger</string>
		<key>species</key>
		<string>Meles meles</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>Fox</string>
		<key>text</key>
		<string>Foxes are small-to-medium-sized, omnivorous mammals belonging to several genera of the Canidae family. Foxes are slightly smaller than a medium-size domestic dog, with a flattened skull, upright triangular ears, a pointed, slightly upturned snout, and a long bushy tail (or brush).

Twelve species belong to the monophyletic group of Vulpes genus of &quot;true foxes&quot;. Approximately another 25 current or extinct species are always or sometimes called foxes; these foxes are either part of the paraphyletic group of the South American foxes and the outlying group, which consists of Bat-eared fox, Gray fox, and Island fox.[1] Foxes are found on every continent except Antarctica. By far the most common and widespread species of fox is the red fox (Vulpes vulpes) with about 47 recognized sub-species.[2] The global distribution of foxes, together with their widespread reputation for cunning, has contributed to their prominence in popular culture and folklore in many societies around the world. The hunting of foxes with packs of hounds, long an established pursuit in Europe, especially in the British Isles, was exported by European settlers to various parts of the New World.</string>
		<key>authorName</key>
		<string>Charles Darwin</string>
		<key>authorPhoto</key>
		<string>Darwin</string>
		<key>name</key>
		<string>Fox</string>
		<key>species</key>
		<string>Vuples vuples</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>Hare</string>
		<key>text</key>
		<string>The arctic hare[2] (Lepus arcticus), or polar rabbit, is a species of hare which is adapted largely to polar and mountainous habitats. The arctic hare survives with a thick coat of fur and usually digs holes in the ground or under snow to keep warm and sleep. Arctic hares look like rabbits but have shorter ears, are taller when standing, and, unlike rabbits, can thrive in cold climates. They can travel together with many other hares, sometimes huddling with dozens or more, but are usually found alone, taking, in some cases, more than one partner. The arctic hare can run up to 60 kilometres per hour (40 mph).[3] Its predators include the arctic wolf, arctic fox, and ermine, as well as, the Gyrfalcon, peregrine falcon, and snowy owl.[4]</string>
		<key>authorName</key>
		<string>Oliver Foggin</string>
		<key>authorPhoto</key>
		<string>Oliver</string>
		<key>name</key>
		<string>Arctic Hare</string>
		<key>species</key>
		<string>Lepus arcticus</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>Pheasant</string>
		<key>text</key>
		<string>The blood pheasant (Ithaginis cruentus) is the only species in genus Ithaginis of the pheasant family. This relatively small, short-tailed pheasant is widespread and fairly common in eastern Himalayas, ranging across India, Nepal, Bhutan and China. Since the trend of the population appears to be slowly decreasing, the species has been evaluated as Least Concern by IUCN in 2009.[1]</string>
		<key>authorName</key>
		<string>Oliver Foggin</string>
		<key>authorPhoto</key>
		<string>Oliver</string>
		<key>name</key>
		<string>Blood Pheasant</string>
		<key>species</key>
		<string>Ithaginis cruentus</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The red squirrel has a typical head-and-body length of 19 to 23 cm (7.5 to 9 in), a tail length of 15 to 20 cm (5.9 to 7.9 in) and a mass of 250 to 340g (8.8 to 12 oz). It is not sexually dimorphic, as males and females are the same size. The red squirrel is somewhat smaller than the eastern grey squirrel which has a head-and-body length of 25 to 30 cm (9.5 to 12 in) and weighs between 400 and 800 g (14 oz to 1.8 lb). It is thought[by whom?] that the long tail helps the squirrel to balance and steer when jumping from tree to tree and running along branches, and may keep the animal warm during sleep.[citation needed]

The coat of the red squirrel varies in colour with time of year and location. There are several different coat colour morphs ranging from black to red. Red coats are most common in Great Britain; in other parts of Europe and Asia different coat colours co-exist within populations, much like hair colour in some human populations. The underside of the squirrel is always white-cream in colour. The red squirrel sheds its coat twice a year, switching from a thinner summer coat to a thicker, darker winter coat with noticeably larger ear-tufts (a prominent distinguishing feature of this species) between August and November. A lighter, redder overall coat colour, along with the ear-tufts (in adults) and smaller size, distinguish the Eurasian red squirrel from the American eastern grey squirrel.[6][7][8]

The red squirrel, like most tree squirrels, has sharp, curved claws to enable it to climb and descend broad tree trunks, thin branches and even house walls. Its strong hind legs enable it to leap gaps between trees. The red squirrel also has the ability to swim.[9]</string>
		<key>authorName</key>
		<string>Oliver Foggin</string>
		<key>authorPhoto</key>
		<string>Oliver</string>
		<key>name</key>
		<string>Red Squirrel</string>
		<key>species</key>
		<string>Sciurus vulgaris</string>
	</dict>
</array>
</plist>
